p {
    font-family: Helvetica;
    font-size: 16px;
    color: seashell;
    opacity: 0.9;
}
h2 {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;}
h4 {
    font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    opacity: 0.9;}
h3 {
    font-family: Helvetica;
    font-size: 20px;
    color: seashell;
    opacity: 0.9;}

h5 {
    font-family: Helvetica;
    font-size: 12px;
    color: seashell;
    opacity: 0.9;}
body {
    background-color: black;
}

/* Nav bar */

.nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: inline-flex;
    justify-content: space-between;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
       flex-wrap: wrap;
    align-items: center;
}
.nav ul
{
    align-content: flex-end;
}
.nav li {
    display: inline-block;
    text-decoration: underline;
        font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    opacity: 0.9;
    margin: 6px;
}
.nav img {
    height: 50px;

}

/* Header Section */

.header {
  display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
        height: 700px;
    width: 1200px;
}
.bgimg {
    height: 700px;
    width: 1200px;
   position: relative;
    z-index: -1;
    left:
}

.namebar {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;

}


}
